datatype variablename = some  value
variablename =  value

In [ ]:
a = 10
b  = 10.5
c = "pradeepthi"

In [ ]:
type(c)

In [ ]:
a,b,c = 30,9.8,"jhon"

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
a = 10
b  = 10.5
c = "pradeepthi"

In [ ]:
print(a,end=" ")
print(b,end=" ")
print(c,end=" ")

In [ ]:
print(a,b,c)

In [ ]:
print("the valueodf a is ",a,"the value of b is ",b ,"the valus of c is", c)

In [ ]:
print("the val of a is %d , b is %f , c is  %s" % (a,b,c))

In [ ]:
print("the value of a is  {1} , value of b is {2}, value of c is {0}".format(a,b,c))

In [ ]:
print("the value as {3},he value as {0},he value as {2},he value as {1}".format("prradeepthi","ram","nikhil","SB"))

In [ ]:
a = int(input("enter a vaalue"))
b = int(input("enter b value"))

c = a+b
print(c)

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
p = "100"

In [ ]:
type(p)

In [ ]:
q = int(p)

In [ ]:
type(q)

In [ ]:
a = 40
b = float(a)

In [ ]:
type(a)

In [ ]:
type(b)

take 4 user inputs 
apply addition and sub on first two user inputs , print the values with help of %d
apply multiplication and divission on secon two user inputs , format

In [ ]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
d=int(input("enter d value"))
summ=a+b
sub=a-b
mul=c*d
div=c/d
print("the sum is %d, the sub is %d"%(summ,sub))
print("the mul is {}, the div is {}".format(mul,div))

In [ ]:
string = 'hello welcome to smartbridge 1 2 3 ' 
#string is made of all similar kind of character dataype

In [ ]:
string[28] = "p"

In [ ]:
string[10:]

In [ ]:
string[:21]

In [ ]:
string[10:17:2] 166

In [ ]:
string = "1,2,3,4,5,6,7,8"

In [ ]:
string[-7:-2]

In [ ]:
dir(string)

In [ ]:
string2 = "hie,how,are,you , how.howhow"

In [ ]:
string2.capitalize()

In [ ]:
string2.casefold()

In [ ]:
string2.split(',')

In [ ]:
string2.center(40,"*") 11 , 30 123456789101112131415161718191921222324252627282930

In [ ]:
string2.count("how")

In [ ]:
list1 = [1 , 20.5,"john","pradeepthi"]

In [ ]:
list1[2]

In [ ]:
list1[1:5]

In [ ]:
list1[2] = "smartbrridge"

In [ ]:
list1

In [ ]:
dir(list1)

In [ ]:
list1

In [ ]:
list1.append(1)

In [ ]:
list1

In [ ]:
list1.clear()

In [ ]:
list1

In [ ]:
list2 = list1.copy()

In [ ]:
list2

In [ ]:
list1

In [ ]:
list1.count(20.5)

In [ ]:
list1.extend([1,2,3,4])

In [ ]:
list1

In [ ]:
list1.append([1,2,3,4,5,6,7,8])

In [ ]:
list1

In [ ]:
list1.index([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
list1.insert(2,40)

In [ ]:
list1

In [ ]:
list1.remove([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
list1

In [ ]:
list1.reverse()

In [ ]:
list1

In [ ]:
list1.sort()

In [ ]:
list1 = [1,6,8,5,4,2,1,29]

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
list1[5::-1]

In [ ]:
list1 = list1[5:-1]

In [ ]:
list1

In [ ]:
list3 = [i for i in range(10) if(i%2==0)]

In [ ]:
list3

In [ ]:
tuple = (1, 2 ,3 , "john", "pradeepthi")

In [ ]:
tuple[2] = "smartbridge"

In [ ]:
dir(tuple)

In [ ]:
tuple.count(1)

In [ ]:
tuple.index("pradeepthi")

In [ ]:
dict1 = {"name":"pradeepthi","age": 26,"a":(1,2,3),"list":[1,2,3,4],"name":"pradeepthi"}

In [ ]:
dict1["name"]

In [ ]:
dict1["age"]

In [ ]:
dict1["name"] = "smartbridge"

In [ ]:
dict1

In [ ]:
dict1["rollno"] = 125

In [ ]:
dict1

In [ ]:
dir(dict1)

In [ ]:
dict1.clear()

In [ ]:
dict1

In [ ]:
dict1= {"a": 25,"b":30,"c":40}

In [ ]:
dict2 = dict1.copy()

In [ ]:
dict2

In [ ]:
dict1.items()

In [ ]:
dict1.get("b")

In [ ]:
keys = ("a","b","c")
vaalues = 40,50,69

In [ ]:
dict2 = dict2.fromkeys(keys,vaalues)

In [ ]:
dict2

In [ ]:
dict2.pop('a')

In [ ]:
new_menu = ['Hawaiian', 'Margherita', 'Mushroom', 'Prosciutto', 'Meat Feast', 'Hawaiian', 'Bacon', 'Black Olive Special', 'Sausage', 'Sausage']

final_new_menu = list(dict.fromkeys(new_menu))

print(final_new_menu)
['Hawaiian', 'Margherita', 'Mushroom', 'Prosciutto', 'Meat Feast', 'Bacon', 'Black Olive Special', 'Sausage']

list1 = [1,2,3,[1,[2,3,[{"name":"pradeepthhi"},2,4]]],{"age":26}]
         
         0 1 2--------------------------------------   --------
                 
                 3                               4
                0 -------1-------------------------23

In [ ]:
list1 = [1,2,3,[1,[2,3,[{"name":"pradeepthhi"},2,4]]],{"age":26}]

#conditional statements :
a = int(input("enter a value"))
b = int(input("enter b value"))
c = a+b 
if(c<35):
    print("he is failed")
elif(c==35):
    print("just passed")
elif(c>35 and c<60):
    print("passed")
else:
    print("noot sdgf")

take user input for a special character
a and b
check the special character
if special + then add
if * perform multi
if / prerform
else print a random statement

In [ ]:
a=int(input("Enter a value "))
b=int(input("Enter a value "))
op=input("Enter an operation to perform ")
if op=='+':
    print(a+b)
elif op=='*':
    print(a*b)
elif op=='/':
    print(a/b)
else:
    print("Invalid")

In [ ]:
total = 100
country = "US"
if country == "US" :
    if total <=50:
        print("cost for shipping is 50 dollars")
elif total<=100:
        print("cost for shipping is 60 dollars")
elif total<=150:
    print("cost for shipping is 5 dollars")
else:
    print("Free")
if country == "india":
    if total<=50:
        print("cost for shipping is50 rupees")
else:
    print("free")

In [ ]:
#loops :
for i in range(10):
    print(i)

In [ ]:
x = "hie how are you"
x = x.split()
print(x)
for i in range(len(x)):
    print(x[i])

In [ ]:
for i in x:
    print(i)

In [ ]:
for i in range(100):
    if(i%2==0):
        print(i,end =" ")

In [ ]:
i = 0
while(i<20):
    print(i)
    i=i+1

In [ ]:
for i in range(100):
    if(i == 40):
        break
    print("you are allowed",i)

In [ ]:
for i in range(100):
    if(i%2==0):
        continue;
    print("odd number",i)

In [ ]:
i = 0
list = []
while (i<5):
    a = int(input("enter a number"))
    print(a)
    list.append(a)
    i = i+1
print(list)

In [ ]:
def functionname():
    print("hie ow are you")

In [ ]:
functionname()

In [ ]:
def fun(a,b):
    c = a+b
    d = a-b
    e = a*b
    f = a/b
    print(c,d,e,f)
    return c,d,e,f

In [ ]:
p = int(input("enter the value"))
q= int(input("enter the value"))
c,d,e,f = fun(p,q)
print(c)
print(d)

print(e)
print(f)

In [ ]:
def something(*args):
    print(type(args))
    for i in args:
        print(i)
    return(i)

In [ ]:
c = something(1,2,3,"pradeepthi","hiee","3,7,8",[1,2,3,4])
print (c)

In [ ]:
type(c)

In [1]:
def computepay(fhrs,frate):
    
    if hrs<=40.0:
        p=hrs*rate
        return(p)
    else:
        p=40*rate+1.5*rate(hrs-40)
        return(p)

In [2]:
hrs =float(input("Enter Hours:"))
rate=float(input("enter rate:"))
p = computepay(hrs,rate)
print("Pay",p)

Enter Hours:60
enter rate:90

TypeError: 'float' object is not callable

In [3]:
def computepay(hours,rate):
if hours>40.0:
    p = rate * 40.0
    p = p+(1.5*rate*(hours-40))
    return p
else:
    p = rate*hours
    return p

IndentationError: expected an indented block (<ipython-input-3-68a4e0eae438>, line 2)

Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay should be the normal rate for hours up to 40 and time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of pay in a function called computepay() and use the function to do the computation. The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly. Do not name your variable sum or use the sum() function.

In [8]:
def f(a,b):
    print(a)
    if a>5:
        print("yes")
    print(b)

In [11]:
p = float(input("df"))
q = float(input("c"))
f(p,q)

df7
c8
7.0
yes
8.0

In [21]:
def computepay(hours,rate):
    if hours<40:
        a = hours*rate
    elif h>40:
        a  = 40*rate+(h-40)*1.5*rate
    
    return a

In [22]:
hrs = input("enter hours")
hours = float(hrs)
r =  input("enter rate")
rate = float(r)
p  = computepay(hours,rate)
print(p)

enter hours8
enter rate9
72.0